h1{
    margin: 0;
    font-size: 60px;
    padding-top: 15rem;
}

h1 a{
  text-decoration: none;
  color: black;
}

h1 a:hover{
  color: blue;
}

.yes{
  background-color: orange;
  text-align: center;
  height: 100vh;
}

body{
  margin: 0;
  margin-top: 0;

}
